/* styles.css */

.odd {
background-Color: rgb(245, 139, 139);
font-family: Verdana, DejaVu Sans, sans-serif;

}
.third {
    font-size: 24px
}
#Two {
    color: #0000ff;
    font-size: 36px;
}
#four {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;

}